body{
	background-image:url(images/bg.png);
	background-repeat:no-repeat;
	background-size: cover;	
}

html{
	min-height:100%;
}

header{
	width:1075px;
	margin:0 auto;
	margin-top:50px;	
	display: grid;
	grid-template-columns: repeat(9, 1fr);
	

}

.info_container{
	display: grid;
	grid-template-rows:1fr 1fr;
	justify-items:start;
	grid-column-start: 9; 
  grid-column-end: 9;
}

.full-logo{
	width:100px;
	height:50px;
	display: grid;
	grid-template-columns: repeat(2, 75px);
	grid-template-rows: repeat(2, 1fr);
	grid-column-start: 1; 
  grid-column-end: 1;
  align-items:center;
	
}

a{
	text-decoration:none;
}

.logo-text-link-1{
	color:  #ffffff;
	font-size: 1.813em;
	font-weight: 700;
	grid-column-start: 2; 
  grid-column-end: 2;
  grid-row-start: 1; 
  grid-row-end: 1;

	
}
.logo-text-link-2{
	color:  #ffffff;
	font-size: 1.125em;
	font-weight: 700;

	
}


.info-1{
	color:  #ffffff;
	font-size: 1.125em;

}
.info-2{
	color:  #ffffff;
	font-size: 1.125em;

}
.logo-picture-link-active{
  opacity:0;
	z-index:1;
	grid-column-start: 1; 
  grid-column-end: 1;
  grid-row-start: 1; 
  grid-row-end: 1;
}


.logo-picture-link{
	opacity:1;
	z-index:0;
	grid-column-start: 1; 
  grid-column-end: 1;
  grid-row-start: 1; 
  grid-row-end: 1;
	
}

.logo-text-active{
	width:50px;

  bottom: 53px;
  left: 63px;
}

.full-logo:hover  a {
	color:#f26522;
}
.full-logo:hover  .logo-picture-link-active{
	opacity:1;
	cursor: pointer;
}


.main{
	width:1150px;
	height:700px;
	font-size:16px;
	font-family:Verdana, Helvetica, sans-serif;
	overflow:hidden;
	margin:0 auto;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 3fr);
	justify-items:center;
	align-items:center;
}


.image{
	border:2px inset #e8e8e8;
	box-sizing: border-box;
	background-color:  #ffffff;
	box-shadow: 0px 17px 24px 0px #000000;	
	border-image: linear-gradient(to top, black, rgba(0, 0, 0, 0)) 1 100%;
}

.names{
	color:  #ffffff;
	font-size: 1.125em;
	text-align: center;
}

footer{
	color:  #ffffff;
	font-size: 0.75em;
	margin-top:5%;
	text-align: center;
}

.selected{
	position:relative;
	width:312px;
	height:60px;
	top:205px;
	overflow: hidden;
}

.card:hover .selected{
	background-color:#f26522;
	transition:1s;
}

.from{
	opacity:0;
	font-size:0.625em;
	color:#ffffff;
	position:relative;
	top:14px;
	left:20px;
}

.euro{
	opacity:0;
	color:#ffffff;
	font-size:1.25em;
	position:relative;
  left: 12px;
  bottom: 7px;
}

.vd{
	opacity:0;
	color:#ffffff;
	font-size:0.875em;
	position:relative;
  left: 165px;
  bottom: 45px;	
}

.symbol{
	opacity:0;
	color:#ffffff;
	font-size:0.575em;
	position:relative;
  left: 278px;
  bottom: 72px;
	font-weight:600;
}


.card:hover p{
	opacity:1;
	transition:1s;
}

.card:hover  .names{
	color:#f26522;
}
